/*General styling*/

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity:0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

/*Header Styles*/

header {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
	padding:0 100px;
	min-height: 100px;
	animation: reveal 0.3s ease-in 0.5s forwards;
	opacity:0;
	transform: translateY(5px);
	z-index: 1;
	color: #fff;
}

@keyframes reveal {
	
	100%{
		opacity:1;
		transform: translateY(0px);
	}
	
}

header nav {
	display: flex;
	justify-content: space-around;

}

header nav li {
	margin: 0 10px;
}

header h2 {
	font-family: "Quicksand", sans-serif;
}

/*Landing Styles*/

.landing-background{
	background-image: url(../img/main.jpg);
}

a.btn {
	border-radius: 20px;
	text-transform: uppercase;
	font-weight:bold;
	text-align: center;
	background-color:  #3f51b5;
	opacity: 1;
	padding: 20px 46px;
	box-shadow: 0px 0px 2px #fff;
	transition-duration: 0.3s;
}

a.btn:hover {
	transform: scale(2,2);
	box-shadow: 1px 1px 30px #fff;
	
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px;
}

.landing {
	position: relative;
	justify-contet: center;
	text-align: center;
	min-height:100vh;
	color: #fff;
}

.landing-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-size: cover;
	z-index:-1;
	background-color: #80a3db;
}

.landing h1 {
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
}

.landing h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}

.landing a.btn {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}

.landing-content-area{
	opacity:0;
	margin-top: 80px;
	transform: translateY(100px);
	animation: reveal 1s ease-in-out 1s forwards;
	;
}


